.banners{
		margin-top: 50px;

}
.banners .jumbotron{
		background-image: url('../../img/cover.png');
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0px;
		padding: 0px 0px;
}

.banners .jumbotron ,h2z{
	text-align: center;
}

.banners .jumbotron ,pz{
	color: #47494c;
	text-align: center;
}